* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #151616;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;

}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}


/* =========================================
   GLOBAL STYLES 
========================================= */

.container {
    width: min(1600px, calc(100% - 40px));
    margin: auto;
}

.section {
    padding: 60px 0;
}

.dark-card {
    padding: 45px;
    border-radius: 20px;
    background: #242424;
}

.golden-text {
    color: #CB9F53;
    font-size: 14px;
    letter-spacing: 1px;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading.left {
    text-align: left;
}

.section-heading h2,
.dark-card>h2 {
    margin-top: 8px;
    font-size: clamp(25px, 3vw, 36px);
}

.section-heading h2 span,
.section-heading h2 strong {
    color: #c9a227;
}


/* =========================================
   NAVBAR SECTION
========================================= */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #151515;
    border-bottom: 1px solid #292929;
}

.nav-container {
    min-height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 38px;
    height: 38px;

    display: grid;
    place-items: center;

    border: 2px solid #c9a227;

    color: #c9a227;
    font-weight: bold;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text strong {
    font-size: 16px;
}

.logo-text small {
    color: #888;
    font-size: 7px;
}

.desktop-nav {
    display: flex;
    align-items: center;
    gap: 30px;

    font-size: 13px;
}

.desktop-nav a {
    color: #ddd;
    transition: .2s;
}

.desktop-nav a:hover {
    color: #c9a227;
}

.nav-quote,
.primary-button {
    background: #9D0211;
    color: white;

    padding: 12px 22px;

    border-radius: 30px;

    transition: .2s;
}

.nav-quote:hover,
.primary-button:hover {
    background: #e00018;
}

.menu-button {
    display: none;

    background: none;
    border: none;

    color: white;
    font-size: 25px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

/* =========================================
   BANNER SECTION
========================================= */

.banner {
    position: relative;
    min-height: 600px;
    padding: 90px 0;
    margin-bottom: 100px;

    color: white;
    overflow: hidden;
}

/* this is to make the bg of the banner class to slighlty shift to the left while maintaining max size */
.banner::before {
    content: "";
    position: absolute;

    top: 0;
    left: -5%;
    width: 100%;
    height: 100%;

    background-image: url("../../public/images/bg-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
}

/* main container and grid divider to 2x2 */
.banner-container {
    position: relative;
    z-index: 1;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    column-gap: 70px;
    row-gap: 40px;

    align-items: center;

    margin-bottom: 100 px;
}

/* 1st row and column  */
.banner-title {
    grid-column: 1;
    grid-row: 1;

    text-align: left;
}

.banner-title .golden-text {
    color: #c9a227;

    font-size: 14px;
    font-weight: 700;

    letter-spacing: 2px;
}

.banner-title h1 {
    margin: 15px 0 0;

    font-size: clamp(42px, 5vw, 70px);
    line-height: 1.02;
    font-weight: 800;

    text-align: left;
}

.banner-title h1 span {
    color: #9D0211;
}

.banner-title h1 strong {
    color: #c9a227;
}

/* 1st row 2nd column  */
.banner-description {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start;

    text-align: left;
    font-size: 20px;
}

.banner-description p {
    max-width: 450px;

    margin: 0 0 35px;

    color: #aaa;

    line-height: 1.7;
}

/* 2nd row 1st col */
.banner-secondary {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    text-align: left;
}

.banner-secondary p {
    max-width: 400px;

    margin: 0 0 20px;

    color: #aaa;

    line-height: 1.6;
}


.video-button {
    border: none;

    background: none;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0;

    color: #c9a227;

    cursor: pointer;

    font-size: 16px;
}

/* last row and col */

.banner-image {
    grid-column: 2;
    grid-row: 2;

    position: relative;

    height: 390px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-self: flex-end;

    overflow: visible;
    margin-top: -10px;
    margin-right: -120px;
    z-index: 5;
    border-radius: 20px;

}

.banner-image img {
    width: 110%;
    max-width: none;

    height: auto;

    object-fit: contain;

    position: relative;
    z-index: 5;
}


/* =========================================
   ABOUT SECTION
========================================= */


.about {
    background: #272727;
    background-image: url("../../public/images/world-map-2.png");

    background-size: 70%;
    background-position: center 20%;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.about-container {
    padding: 10px 70px 125px 70px;
}

.about-grid {
    margin-top: 40px;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;
}

.about-card {
    min-height: 155px;

    padding: 25px;

    border-radius: 18px;

    background: rgb(48, 48, 48, 0.8);
    transition: 0.3s ease;
}

.about-card:hover {
    background: #9D0211;
}

.about-number {
    font-size: 20px;
    font-weight: bold;
}

/*Class to unify all icons in this section*/
.about-icon {
    width: 40px;
    height: 40px;

    object-fit: contain;
}

.about-card h3 {
    margin: 12px 0;
}

.about-card p {
    color: #aaa;
    font-size: 13px;
}

/*A wrapper div for the number and icon */
.about-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

.about-card.active p {
    color: #eee;
}

.about-text {
    max-width: 550px;
    grid-column: span 2;

    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;

    padding: 30px;


    margin: 40px 0 0 auto;

    color: white;
}


/* =========================================
   QUOTE SECTION
========================================= */

/* Main containter for this section */
.quote-container {
    display: grid;
    background-image: url("../../public/shapes-line/bg-rqst-quote.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-template-columns:
        1.8fr 1fr;

    gap: 30px;

    padding: 40px;

    border-radius: 20px;



    position: relative;

    /* Overlapping magic  */
    position: relative;
    margin-top: -180px;

    z-index: 10;

}

/* the header and the text inside it */
.quote-header {
    grid-column: 1 / -1;

    margin-bottom: 10px;
}

.quote-header h2 {

    font-size: clamp(20px, 2vw, 30px);
    color: black;
}

.quote-header p {
    max-width: 500px;
    font-size: 14px;
    margin: 0;

    color: black;

    line-height: 1.6;
}

/*The form*/

.quote-form {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.quote-form-area {
    grid-column: 1;
    height: 100%;
}

.form-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

.quote-form input,
.quote-form textarea {
    width: 100%;
    flex: 1;

    padding: 14px;

    border: 1px solid #555;
    border-radius: 5px;

    background: white;

    color: black;

    outline: none;

    font-family: inherit;
}

.quote-form input:focus,
.quote-form textarea:focus {
    border-color: #c9a227;
}

.quote-form textarea {
    min-height: 120px;

    margin-top: 12px;

    resize: vertical;
}

.checkbox {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    width: 100%;

    margin: 15px 0;

    color: black;

    font-size: 15px;

    text-align: left;
}

.checkbox input {
    flex: 0 0 auto;

    width: auto;

    margin: 0 6px 0 0;
}

.submit-button {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 16px;

    background: #9D0211;

    color: white;

    cursor: pointer;

    transition: 0.3s ease;
}

.submit-button:hover {
    background: #a80010;
}

/*The brochure subsection and the text inside it*/
.brochure-card {
    grid-column: 2;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 35px 40px 45px 45px;

    border-radius: 18px;

    background-image: url("../../public/images/brochure.png");
    background-size: cover;

    background:
        linear-gradient(145deg,
            #c56b42,
            #a72d2d),
}

.brochure-card h3 {
    margin: 8px 0 15px;

    font-size: 30px;

    line-height: 1.1;
}

.brochure-card p {
    color: white;

    line-height: 1.6;

    margin-bottom: 25px;
}

/*Those yellow texts at the end of the brochure b4 the button*/
.brochure-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    margin-bottom: 30px;
}

.brochure-list a {
    font-size: 14px;
    font-weight: 600;

    width: fit-content;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 10px;
}

.brochure-list a {
    color: #c9a227;
}

.brochure-button {
    display: inline-block;

    align-self: center;

    padding: 12px 20px;

    border-radius: 30px;

    background: white;

    color: black;
    font-weight: 600;

    text-decoration: none;

    transition: 0.3s ease;
}

.brochure-button:hover {
    transform: translateY(-2px);
}

/* =========================================
   PARTNERS SECTION
========================================= */

.partners-container {
    padding: 30px 70px 30px 70px;

    display: flex;

    align-items: center;
    justify-content: space-between;

    border-radius: 18px;

    background: #151616;
    background-image: url("../../public/shapes-line/partners-line-stroke.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    overflow: visible;

}

.partner-list {
    display: flex;
    align-items: center;
    gap: 50px;

    position: relative;
    z-index: 2;
}

/* The partner container and its image */
.partner {
    width: 450px;
    height: 120px;
    position: relative;
    z-index: 5;
    margin-top: -60px;
    border-radius: 10px;

    background-color: #151616;
    transition: transform 0.3s ease;
}

.partner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partner:hover {
    transform: scale(1.08);
    z-index: 10;
}


/* =========================
   PRODUCT SECTION
========================= */
.product-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 40px 30px;
}

/* The product card */
.product-card {
    background: transparent;

    overflow: visible;

    cursor: pointer;
}

/* The container of the product img */
.product-image {
    position: relative;

    height: 230px;

    display: flex;

    align-items: center;
    justify-content: center;

    overflow: visible;
}


/* The very image itself of the product */
.product-image img {
    position: relative;

    z-index: 2;

    width: 90%;

    height: auto;

    max-height: 190px;

    object-fit: contain;

    transition: transform 0.3s ease;
}


/* Slight enlargement when hovering */

.product-card:hover .product-image img {
    transform: scale(1.05);
}


/* The yellow rectangle itself */

.product-highlight {

    background-image: url("../../public/shapes-line/bg-truck-shape.png");
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    background-position: center;

    width: 82%;

    height: 70%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    opacity: 0;

    z-index: 1;

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}


/* Show yellow rectangle on hover */

.product-card:hover .product-highlight {
    opacity: 1;

    transform:
        translate(-50%, -50%) scale(1.02);
}


/* Color Palettes Sub-Section */

.product-colors {
    position: absolute;

    left: 50%;
    bottom: 5px;

    transform: translateX(-50%);

    display: flex;

    gap: 7px;

    z-index: 3;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}


.color-dot {
    width: 22px;
    height: 22px;

    border-radius: 5px;

    border: 1px solid rgba(255, 255, 255, 0.3);

    display: block;

    background-color: var(--dot-color);
}


/* Hide palette when product is clicked */

.product-card.active .product-colors {
    opacity: 0;

    transform:
        translateX(-50%) translateY(8px);
}


/* Action Button sub-section */
.product-actions {
    position: absolute;

    left: 50%;
    bottom: 4px;

    transform:
        translateX(-50%) translateY(8px);

    display: flex;

    gap: 8px;

    z-index: 4;

    opacity: 0;

    pointer-events: none;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}


/* Show buttons after clicking */

.product-card.active .product-actions {
    opacity: 1;

    pointer-events: auto;

    transform:
        translateX(-50%) translateY(0);
}

/* The quick view and compare action buttons that appear upon clicking the product */

.quick-view,
.compare {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 30px;

    padding: 0 15px;

    border-radius: 20px;

    font-size: 11px;

    text-decoration: none;

    white-space: nowrap;

    transition:
        background 0.2s ease,
        transform 0.2s ease;
}


.quick-view {
    background: #9D0211;

    color: white;
}


.quick-view:hover {
    background: #e00016;

    transform: translateY(-2px);
}


.compare {
    border: 1px solid #777;

    background: transparent;

    color: white;
}


.compare:hover {
    background: #333;

    transform: translateY(-2px);
}


/* The product name */
.product-info {
    padding-top: 5px;

    text-align: center;
}


.product-info h3 {
    margin: 0;

    font-size: 14px;

    font-weight: 600;

    color: #fff;
}

/* =========================================
   SERVICES SECTION
========================================= */


/* main container and its card */

.services {
    margin-bottom: 220px;
    margin-top: 50px;
}

.service-card {
    position: relative;
    border-radius: 30px;
    padding: 0 100px;
    overflow: visible;
}

/* the bg of the card, ensuring that it does not get clipped by the card itself -- for more pezzaz */
.service-card::before {
    content: "";

    position: absolute;

    width: 110%;
    height: 120%;

    left: -5%;
    top: 10%;

    background-image: url("../../public/shapes-line/bg-service.png");
    background-size: 85% 95%;
    background-position: center 120%;
    background-repeat: no-repeat;

    z-index: 0;
    pointer-events: none;
}

/* grid to separate into two different columns */
.service-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 50px;
    align-items: start;

    /* necessary as it tells this element to be above the supposed bg of the card */
    position: relative;
    z-index: 1;
}

/* the golden text in this section */
.service-grid strong {
    color: #c9a227;
}

/* left side of grid */

.service-left {
    display: flex;
    flex-direction: column;
}

/* right side of grid */

.service-content {
    align-self: end;
    height: 400px;

    overflow-y: auto;

    padding-right: 10px;
}



/* the scrollbar modification of the service content */
.service-content::-webkit-scrollbar {
    width: 5px;
}

.service-content::-webkit-scrollbar-track {
    background: transparent;
}

.service-content::-webkit-scrollbar-thumb {
    background: #D95B40;
    border-radius: 10px;
}

/* the image div and the actual image */
.service-image {

    margin-top: 10%;
    min-height: 200px;

    height: 60%;
    width: 75%;

    display: flex;
    align-items: center;
    justify-content: flex-end;


    border-radius: 15px;
}

.service-image img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

/* the div that consists of list of services on the right side */
.service-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* the item of each list and their respective texts modification */
.service-item {
    padding: 20px 10px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;

    border-bottom: 1px solid #555;

    cursor: pointer;

    transition: background 0.3s ease;
}

/* just for a nice visual clarification */
.service-item:hover {
    background: rgba(255, 255, 255, 0.03);
}

.service-item:last-child {
    border-bottom: none;
}

.service-item h3 {
    margin: 0;

    font-size: 22px;
    line-height: 1.2;
}


/* those things that appear when clikcing on the item */

.service-description {
    grid-column: 1 / -1;

    max-height: 0;
    margin: 0;

    overflow: hidden;

    opacity: 0;

    color: #aaa;
    font-size: 14px;
    line-height: 1.6;

    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        margin-top 0.3s ease;
}

/* The arrow */
.service-arrow {
    font-size: 24px;

    transition: transform 0.3s ease;
}

.service-item.active .service-description {
    max-height: 150px;

    margin-top: 12px;

    opacity: 1;
}


.service-item.active .service-arrow {
    transform: rotate(90deg);
}

/* =========================================
   NEWS SECTION
========================================= */

.news {
    background-image: url("../../public/images/bg-article.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*The main container of this section*/
.news-grid {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 50px;
}

/* main card container for the news details */
.news-card {
    overflow: hidden;

    border-radius: 20px;

    background: white;

    transition: transform 0.3s ease;
}

/* For a bit of neat nteraction */
.news-card:hover {
    transform: scale(1.03);
}

/* The image of the news cards */
.news-image {
    height: 400px;
    display: grid;
    place-items: center;

    background: #333;
    color: white;

    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* the text part of the card */
.news-info {
    display: flex;
    flex-direction: column;

    padding: 20px;
    background-color: white;
    color: black;
}

.news-info h3 {
    font-size: 16px;
    font-weight: 900;
    margin-top: 10px;

}

.news-info h5 {
    font-size: 10px;
}

.news-info a {
    margin-top: auto;
    align-self: flex-end;

    font-size: 17px;

    text-decoration: none;



    transition: color 0.2s ease
}

.article-link {
    padding-bottom: 4px;
    width: 250px;
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    border-bottom: 2px solid #9D0211;
}

/* A bit of also a nice color change animation */
.news-info a:hover {
    color: #90000d;
    border-color: #90000d;

}


/* =========================================
   FOOTER SECTION
========================================= */

/* main container */

.footer-container {
    border-radius: 20px;
    background: #242424;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

/* main grid -- divides the container to 2 columns */
.footer-grid {
    display: grid;
    padding: 45px 90px 20px 90px;
    grid-template-columns: 0.6fr 1.5fr;

    gap: 120px;
}

.footer-grid hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* contact subsection */

.contact-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    justify-content: start;
    align-items: center;
}

.contact-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;
    flex-shrink: 0;
}

.contact-container p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;

}


/* this should be for the quick links, some details and the subscription emails */
.footer-second-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

/* for the quick link and details */
.footer-third-grid {

    display: grid;

    grid-template-columns: 0.45fr 0.8fr;

    gap: 120px;
}

.footer h3 {
    margin-bottom: 15px;
}

.footer p,
.footer a {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;

    color: #aaa;

    font-size: 13px;
}


.footer .gold {
    color: #c9a227;
}

.footer-links {
    display: flex;
    flex-flow: row wrap;
    gap: 10px 50px;
}

/* the newsletter subsection */
.newsletter {
    display: flex;
    padding: 0 30px 0 30px;
    height: 100px;
    align-items: center;
    background-color: #3d3d3d;
    border-radius: 15px;
}

.newsletter input {
    flex: 1;
    padding: 10px 15px;
    height: 60%;

    border: none;
    background: white;
    color: black;

    box-sizing: border-box;
}

.newsletter button {
    padding: 0 30px;
    height: 60%;
    border: none;
    background: #9D0211;
    color: white;

    cursor: pointer;
}


/* copyright subsection */
.copyright {
    display: flex;
    margin: 20px 40px;
    justify-content: space-between;

    margin-top: 30px;
    padding: 25px 40px;

    background-color: #3d3d3d;
    border-radius: 15px;



    color: white;

    font-size: 14px;
}

.copyright p {
    margin: 0;
    color: white;
}

.copyright p a {
    color: white;
    display: inline-block;
    text-decoration: none;
}

/* =========================================
   RESPONSIVE SECTION
========================================= */

@media (max-width: 768px) {

    .desktop-nav {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .mobile-menu.active {
        display: flex;

        flex-direction: column;
        gap: 20px;

        padding: 25px;

        background: #181818;
    }

    .banner {
        padding: 60px 0;
    }

    .banner-container {
        grid-template-columns: 1fr;
    }

    .banner-content h1 {
        font-size: 42px;
    }

    .banner-image {
        height: 300px;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .quote-container {
        grid-template-columns: 1fr;

        padding: 25px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .partners-container {
        flex-direction: column;
        gap: 25px;
    }

    .partner-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr;
    }

    .service-content {
        grid-template-columns: 1fr;
    }

    .news-grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter button {
        padding: 15px;
    }

    .copyright {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 700px) {

    .container {
        width: min(100% - 25px, 1200px);
    }

    .dark-card {
        padding: 25px 20px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}